# Project
d4arch.exe
d4arch
.dub

# When debugging it generates .json files
.json
!dub.json
!dub.selections.json
!cancel.png
!folder.png

# Ignore all pictures that are downloaded
saved_thread/*
*.jpg
*.png
*.gif
*.webm
